<p>pipes works!</p>

<h1>{{name | uppercase}}</h1>
<h2>{{city | lowercase}}</h2>

<h6> {{dob}}</h6>
<h5>{{dob | date}}</h5>
<h5>{{dob | date:'yyyy-MM-dd' }}</h5>
<h5>{{dob | date:'yyyy-MM-dd' }}</h5>
<h5>{{dob | date:'yyyy-MMMM-dd' }}</h5>
<h5>{{dob | date:'dd/MM/yy' }}</h5>

<h2>{{today}}</h2>
<h2>{{today | date: 'full'}}</h2>
<h2>{{today | date: 'fullDate'}}</h2>
<h2>{{today | date: 'short'}}</h2>
<h2>{{today | date: 'medium'}}</h2>
<h5>{{today | date: 'long'}}</h5>
<h2>{{today | date: 'shortDate'}}</h2>
<h2>{{today | date: 'mediumDate'}}</h2>
<h2>{{today | date: 'longDate'}}</h2>

<h3>{{user}}</h3>
<h3>{{user | json}}</h3>

<!-- pipes -->
<h4> {{age | age}} </h4>
<h4> {{price | price}}</h4>
<h4> {{marks | percentage}}</h4>








