.parent{
    height: 100vh;
    width: 100w;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    height: 300px;
    width: 400px;
    background-color: white;
}
