<div class="parent">
    <div class="left">
        <h4 routerLink="interpolation">Interpolation </h4>
        <h4 routerLink="event-binding"> Event Binding </h4>
        <h4 routerLink="two-way-binding"> Two Way Binding</h4>
        <button routerLink="calculator">calculator</button>
        <h4 routerLink="rectangle"> Rectangle</h4>
        <h4 routerLink="square"> square</h4>
        <h4 routerLink="employee-registration">Employee Registration</h4>
        <h4 routerLink="event-registration"> event-registration</h4>
        <h4 routerLink="cart">cart</h4>
        <h4 routerLink="pipes">pipes</h4>
        <h4 routerLink="cars"> cars </h4>
        <h4 routerLink="rating"> rating</h4>
        <h4 routerLink="gpay"> gpay </h4>
        <h4 routerLink="bank"> Bank </h4>
        <h4 routerLink="vehicle"> vehicles </h4>
        <h4 routerLink="facebook-posts"> facebook</h4>
        <h4 routerLink="flipkart"> flipkart </h4>
        <h4 routerLink="gmail"> gmail </h4>
        <h4 routerLink="/login"> logout </h4>
        
        

        
    </div>
    <div class="right">
        <router-outlet> </router-outlet>

    </div>